seo/node_modules/*
seo/node_modules/
my-frontend/node_modules/*
my-frontend/node_modules/
/my-frontend/node_modules/*
/my-frontend/node_modules/
/seo/node_modules/*
/seo/node_modules/
/seo/.next
/seo/.next/*
seo/.next/*
seo/.next/
seo/my-frontend/build
seo/my-frontend/coverage
seo/seo/build
seo/seo/coverage

seo/.env.local
seo/.DS_Store
seo/.env.development.local
seo/.env.test.local
seo/.env.production.local

seo/npm-debug.log*
seo/yarn-debug.log*
seo/yarn-error.log*

MY-FRONTEND/.DS_Store
MY-FRONTEND/.env.local
MY-FRONTEND/.env.development.local
MY-FRONTEND/.env.test.local
MY-FRONTEND/.env.production.local

MY-FRONTEND/npm-debug.log*
MY-FRONTEND/yarn-debug.log*
MY-FRONTEND/yarn-error.log*
.idea
